<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h1>Bienvenue sur Alphabet</h1>
    </div>
    <div class="modal-body">

      <p>Les lettres de l'alphabet vont tombées du ciel ! Trouve les sur ton clavier afin de les sauver dun bon bain !
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="startGame()" type="button">
        Commencer !
      </button>
      <button class="btn btn-secondary" type="button">Configuration</button>
    </div>
  </div>
</div>
