<div style="display:none">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="star" viewBox="0 0 535 512">
      <path fill="currentColor"
        d="M238.8 17.8l-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z">
      </path>
    </symbol>
    <symbol id="balloon" viewBox="0 0 97.4 160.2">
      <path class="balloon-1" fill="currentColor"
        d="M56.7 160.2H41.4c-1.7 0-3.1-1.2-3.1-2.7l-3-19.2c0-1.5 1.4-2.7 3.1-2.7h21.4c1.7 0 3.1 1.2 3.1 2.7l-3.1 19.2c-.1 1.5-1.4 2.7-3.1 2.7z" />
      <path class="balloon-2" fill="currentColor"
        d="M70.8 5.2c-1-.5-1.9.7-1.2 1.6 8.2 8.7 15.6 22.9 15.6 39.9 0 21.5-9.2 41.9-22.3 63.4-.6 1 .8 2.1 1.6 1.2 18.8-21.8 33-42.2 33-63.8-.1-19.3-12.1-34.7-26.7-42.3z" />
      <path class="balloon-3" fill="currentColor"
        d="M12.3 46.6c0-17 7.2-31.1 15.4-39.7.8-.8-.2-2.1-1.2-1.6C11.8 12.9 0 28.1 0 47.4c0 24.2 15.2 43 33.6 63.7.8.9 2.2-.2 1.6-1.2-12.8-20.3-23-39.3-22.9-63.3z" />
      <path class="balloon-4" fill="currentColor"
        d="M48.8 0c-15.4 0-27.9 18.8-28 47.4S33 97.1 45.9 122.5c2.9 5 3.3 5 5.6 0 13.2-26 25-49.8 25-75.1C76.6 18.8 64.2 0 48.8 0z" />
    </symbol>
    <symbol preserveAspectRatio="xMidYMid meet" id="beach-wave" viewBox="0 0 1440 320">
      <path fill="#f0df89" fill="red"
        d="M0,128L80,117.3C160,107,320,85,480,96C640,107,800,149,960,160C1120,171,1280,149,1360,138.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
      </path>
    </symbol>
    <symbol>

    </symbol>
  </svg>
</div>
<div class="board">
  <div class="scoreboard" *ngIf="game.started" @autoFade>
    <div class="scoreboard__score">{{ (store.foundLetters$ | async).length  }}</div>
    /
    <div class="scoreboard__goal">{{ store.letters.length }}</div>
  </div>
  <div class="sky">
    <app-sun></app-sun>

    <app-letter *ngFor="let letter of store.animatedLetters$ | async; trackBy: trackByFn" [letter]="letter">
    </app-letter>
    <div class="sea">
      <div class="sea__line"></div>
      <div class="sea__line"></div>
      <div class="sea__line"></div>
      <div class="sea__line"></div>
      <div class="sea__line"></div>
      <div class="beach__line">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="beach__wave" x="330" y="800">
          <path fill="#6ca6fc "
            d="M0,64L80,74.7C160,85,320,107,480,138.7C640,171,800,213,960,208C1120,203,1280,149,1360,122.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
          </path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="beach__wave beach__wave--2" x="330"
          y="800">
          <path fill="#6ca6fc"
            d="M0,64L80,74.7C160,85,320,107,480,138.7C640,171,800,213,960,208C1120,203,1280,149,1360,122.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
          </path>
        </svg>
      </div>
    </div>
  </div>
  <app-start-menu @fadeModals (toggleConfMenu)="toggleConfMenu($event)" class="modal show"
    *ngIf="!game.started && !game.ended && !showConfigMenu">
  </app-start-menu>
  <app-configuration-view (toggleConfMenu)="toggleConfMenu($event)" @fadeModals class="modal show"
    *ngIf="showConfigMenu">
  </app-configuration-view>
  <app-result-menu (toggleConfMenu)="toggleConfMenu($event)" @fadeModals class="modal show"
    *ngIf="game.ended && !showConfigMenu" [result]="game.runResult"></app-result-menu>
  <app-pause-menu class="modal show" *ngIf="game.started && game.paused"></app-pause-menu>
</div>
<div @autoFadeBackdrop *ngIf="(!game.started && !game.ended) || (game.ended)" class="modal-backdrop show"></div>
