<div style="display:none">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="star" viewBox="0 0 535 512">
      <path fill="currentColor"
        d="M238.8 17.8l-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z">
      </path>
    </symbol>
    <symbol id="gentle-wave" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs>
        <pattern id="Wave" x="0" y="0" width="1" height="1">
          <path fill="red" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </pattern>
      </defs>
      <rect fill="url(#Wave)" width="100%" height="100%" />
    </symbol>
  </svg>
</div>
<div class="board">
  <div class="scoreboard" *ngIf="game.started" @autoFade>
    <div class="scoreboard__score">{{ (store.foundLetters$ | async).length  }}</div>
    /
    <div class="scoreboard__goal">{{ store.letters.length }}</div>
  </div>
  <div class="sky">
    <!-- <app-cloud></app-cloud> -->
    <app-letter *ngFor="let letter of store.animatedLetters$ | async; trackBy: trackByFn" [letter]="letter">
    </app-letter>
    <div class="sea">
      <div class="sea__line"></div>
      <div class="sea__line">
        <svg class="sea__wave">
          <use xlink:href="#gentle-wave" x="48" y="35"></use>
        </svg>
      </div>

      <div class="sea__line">
        <!-- <svg class="sea__wave">
          <use xlink:href="#gentle-wave" x="48" y="0"></use>
        </svg> -->
      </div>

      <div class="sea__line">
        <!-- <svg class="sea__wave">
          <use xlink:href="#gentle-wave" x="48" y="0"></use>
        </svg> -->
      </div>

      <div class="sea__line">
        <!-- <svg class="sea__wave">
          <use xlink:href="#gentle-wave" x="48" y="0"></use>
        </svg> -->
      </div>


      <div class="beach__line"></div>
    </div>
  </div>

  <app-start-menu @fadeModals class="modal show" *ngIf="!game.started && !game.ended"></app-start-menu>
  <app-result-menu @fadeModals class="modal show" *ngIf="game.ended" [result]="game.runResult"></app-result-menu>
  <app-pause-menu class="modal show" *ngIf="game.started && game.paused"></app-pause-menu>
</div>
<div @autoFadeBackdrop *ngIf="(!game.started && !game.ended) || (game.ended)" class="modal-backdrop show"></div>
