:host {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  z-index: 100;
  color: #555;
  font-family: "Didact Gothic", sans-serif;
}

.letter {
  position: relative;
  transform: rotate3d(0, 0, 0);
  transition: 2s ease-in;
}

.letter--balancing {
  transform-origin: top center;
  animation: 2s ease-in-out infinite alternate balancing;
}

.letter__inner {
  position: absolute;
  left: 0;
  top: 1.125rem;

  font-size: 3rem;
  left: calc(50%);
  line-height: 1;
  transform: translate3d(-50%, 0, 0);
}

@keyframes balancing {
  0% {
    transform: rotate3d(0, 0, 1, -14deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 14deg);
  }
}

@keyframes balancing2 {
  0% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(5deg);
  }
}

.balloon {
  max-width: 6rem;
  height: auto;
}
