:host {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  z-index: 100;
  color: #555;
  font-family: "Didact Gothic", sans-serif;
}

.letter {
  position: relative;
  transform: rotate3d(0, 0, 0);
  transition: 2s ease-in;
  backface-visibility: hidden;
}

.letter--balancing {
  transform-origin: top center;
  animation: 2s ease-in-out infinite alternate balancing;
}


.letter__inner {
  position: absolute;

  font-size: 3em;

  top: 50%;
  left: 50%;

  line-height: 1;
  transform: translate3d(-50%, calc(-50% - 0.4em), 0);
}

@keyframes balancing {
  0% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 10deg);
  }
}

.balloon {
  max-width: 4rem;
  height: auto;
}

.balloon-1 {
  fill: chocolate;
}

.balloon-2 {
  fill: deeppink;
}

.balloon-3 {
  fill: gold;
}

.balloon-4 {
  fill: white;
}
