@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #999;
  color: #222;
  padding: 0;
  margin: 0;
}

.board {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sky {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: cornflowerblue;
  background-image: linear-gradient(0deg, #40fef4 0%, #70b9fa 100%);
  overflow: hidden;

  position: relative;

  &::before {
    content: '';
    display: block;

    position: absolute;
    top: 3rem;
    right: 3rem;

    border-radius: 50%;
    border: 2px solid orange;

    background-color: gold;
    width: 8rem;
    height: 8rem;

    box-shadow: 1px 1px 14px gold;
  }
}

.sky__inner {
  padding: 0 4rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: dodgerblue;
}

.sea__line {
  height: 3em;

  &:nth-child(1) {
    background-color: rgba(blue, .9);
    z-index: 100;
  }
  &:nth-child(2) {
    background-color: rgba(blue, .7);
    z-index: 200;
  }

  &:nth-child(3) {
    background-color: rgba(blue, .5);
    z-index: 300;
  }

  &:nth-child(4) {
    background-color: rgba(blue, .3);
    z-index: 400;
  }

  &:nth-child(5) {
    background-color: rgba(blue, .2);
    z-index: 500;
  }
}
