@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #999;
  color: #222;
  padding: 0;
  margin: 0;
}

.board {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sky {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: cornflowerblue;
  background-image: linear-gradient(0deg, #40fef4 0%, #70b9fa 100%);
  overflow: hidden;

  position: relative;

  &::before {
    content: "";
    display: block;

    position: absolute;
    top: 3rem;
    right: 3rem;

    border-radius: 50%;
    border: 2px solid orange;

    background-color: gold;
    width: 8rem;
    height: 8rem;

    box-shadow: 1px 1px 14px gold;
  }
}

.sky__inner {
  padding: 0 4rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sea__line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 3em;
  width: 100%;

  overflow: visible;

  &:nth-child(5) {
    height: 6em;
    background-color: rgba(#6ca6fc, 1);
    z-index: 500;
  }

  &:nth-child(4) {
    height: 9em;
    background-color: rgba(#5396fc, 1);
    z-index: 400;
  }
  &:nth-child(3) {
    height: 12em;
    background-color: rgba(#3a87fc, 1);
    z-index: 300;
  }
  &:nth-child(2) {
    height: 15em;
    background-color: rgba(#2078fc, 1);
    z-index: 200;
  }
  &:nth-child(1) {
    height: 18em;
    animation: none;
    background-color: rgba(#0769fc, 1);
    z-index: 100;
  }
}

// .sea__wave {
//   position: absolute;
//   bottom: 100%;
//   width: 100%;

//   > use {
//     animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
//   }
// }

.beach__line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background-color: #f0df89;
  z-index: 600;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes waving {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(1deg);
  }

  75% {
    transform: rotateZ(-1deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}
